body {
  background-color: black; /* fundo do projeto */
  overflow: hidden;        /* impede rolagem */
}

canvas {
  display: block; /* remove o espaço branco abaixo do canvas */
  filter: drop-shadow(0 0 10px #ff99cc);
}

